services:
  spring-app:
    platform: linux/amd64
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_URL: ${DB_URL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      APP_ID: ${APP_ID}
      APP_KEY: ${APP_KEY}